# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules
dist
dist-ssr
*.local

# OS / Editor
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Uploads (optional, exclude in dev)
api/uploads/
api/src/public/uploads/
api/src/uploads/


# Environment files
api/.env
web/.env

# Keep root .env.example
!.env.example

# Markdown files (no agent guides pls)
*.md
!README.md